<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Asteroids Game</title>
    <script type="text/javascript" src="../assets/javascripts/phaser.min.js">
  </head>
  <script type="text/javascript" src="../assets/javascripts/Asteroids.js">
</html>

