<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Asteroids Game</title>
    <%= javascript_include_tag('phaser.min.js') %>
  </head>
  <%= javascript_include_tag('Asteroids.js') %>
</html>

