<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Asteroids Game</title>
    <%= javascript_include_tag('phaser.min.js') %>
    <%= javascript_include_tag('Asteroids.js') %>
  </head>

  <body>

  <%= image_tag "player.png" %>
    <div id="mainDiv">
      <h1>Astroids</h1>
      
      
      <div id="userInfoDiv">
        <h3>User Info</h3>
      </div
      <div id="scoreBoardDiv">
        <h3>High Scores</h3>
      </div>
    </div>
  </body>
</html>

