// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: darkgray;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color: white;
  text-shadow: 1px 1px 1px #000;
  width: 1600px;
  align-items: stretch;
  margin: auto;
}

#titleDiv{
  order: 1;
  width: 100%;
  height: 74px;
  text-align: center;
  position: relative;
  font-size: 60px;
}

#titleDiv > #bullet {
  position: absolute;
  left: 418px;
  top: 26px;
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  width: 10px;
  height: 2px;
  display: none;
  opacity: 0;
}

#titleDiv  #bullet2 {
  position: absolute;
  left: 542px;
  top: 26px;
  background-color: white;
  border: 1px solid white;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 10px;
  height: 2px;
  display: none;
  opacity: 1;
  opacity: 0;
}

#controlsDiv > h3{
   text-align: center;
}

#phaser-example{
  width: 800px;
  height: 600px;
  margin: auto;
}

canvas {
    position: absolute;
}

#gInfoDiv{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}


#userInfoDiv {
  order: 3;
  width: 400px;
}

#userInfoDiv > h3{
   text-align: center;
}

#scoreBoardDiv {
  order: 4;
  width: 100%;
}

#controlsDiv{
  order: 2;
  width: 400px;
}

#canvasParent{
  order: 2;
  width: 800px;
  height: 600px;
  align-self: center;
  justify-content: center;
}

#phaser-example {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageTitle{
  opacity: 0;
  position: relative;
  right: 0;
  width: 15px;
  height: 15px;
}

canvas{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}