// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mainDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: darkgray;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  color: white;
  text-shadow: 1px 1px 1px #000;
  min-width: 800px;
  align-items: stretch;
}

#titleDiv{
  order: 1;
  width: 100%;
  height: 74px;
  text-align: center;
  position: relative;
}

.imageTitle{
  opacity: 0;
  position: relative;
  right: 0;
}


#controlsDiv{
  order: 2;
  flex-grow: 1;
}

#canvasParent{
  order: 2;
  width: 800px;
  height: 600px;
  align-self: center;
}

#phaser-example {
    position: relative;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
}

#gInfoDiv{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#userInfoDiv{
  order: 3;
  flex-grow: 1;
}

#scoreBoardDiv{
  order: 4;
  flex-grow: 1;
}